[submodule "andengine"]
	path = andengine
	url = git@github.com:YaroslavHavrylovych/andengine.git
[submodule "andenginephysicsbox2dextension"]
	path = andenginephysicsbox2dextension
	url = git@github.com:YaroslavHavrylovych/andenginephysicsbox2dextension.git
