[submodule "andengine"]
	path = andengine
	url = https://github.com/YaroslavHavrylovych/andengine.git
[submodule "andenginephysicsbox2dextension"]
	path = andenginephysicsbox2dextension
	url = https://github.com/YaroslavHavrylovych/andenginephysicsbox2dextension.git
