[submodule "andengine"]
	path = andengine
	url = git@bitbucket.org:yaroslav_havrylovych/andengine.git
[submodule "andenginephysicsbox2dextension"]
	path = andenginephysicsbox2dextension
	url = git@bitbucket.org:yaroslav_havrylovych/andenginephysicsbox2dextension.git
[submodule "andenginemultiplayerextension"]
	path = andenginemultiplayerextension
	url = git@bitbucket.org:yaroslav_havrylovych/andenginemultiplayerextension.git
