# Custom folders
captures/**
captures
wiki/**
wiki

# System:
Thumbs.db
.DS_Store
*.swp
*.hprof
*~
Desktop.ini

# Version Control Systems:
.svn
CVS
.hg
.bzr

# Gradle
.gradle
target/**
bin/**
obj/**
doc/**
gen/**
gdb.setup
gdbserver

# Application
proguard/**
eafall/keystore/**

# IDE:
*.settings
*.classpath
*.project
*.idea
build
*.iml
project.properties
local.properties

# Crashlytics
res/values/com_crashlytics_export_strings.xml

# ignore private
eafall/fabric.properties
eafall/google-services.json
