<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.gmail.yaroslavlancelot.eafall"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_OWNER_DATA"/>
    <uses-permission android:name="android.permission.READ_OWNER_DATA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22"/>
    <!-- TODO set no background to those activities, which are full screen -->
    <application
        android:name=".EaFallApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
        android:allowBackup="true">
        <activity
            android:name="com.gmail.yaroslavlancelot.eafall.android.activities.StartupActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".game.client.thick.single.SinglePlayerGameActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".game.client.thin.ThinClientGameActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".android.activities.singleplayer.PreGameCustomizationActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".game.client.thick.server.ServerGameActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".android.activities.multiplayer.GameServersListActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".android.activities.multiplayer.ServerGameCreationActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".android.activities.multiplayer.ClientWaitForGameActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".game.campaign.CampaignActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".android.activities.settings.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="landscape"/>
    </application>
</manifest>
