<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yaroslavlancelot.eafall">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".EaFallApplication"
        android:allowBackup="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.NoTitleBar.Fullscreen.BlackBackground">
        <activity
            android:name="com.yaroslavlancelot.eafall.android.activities.StartupActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".game.sandbox.activity.SandboxActivity"
            android:configChanges="screenSize"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".game.client.thick.single.SinglePlayerGameActivity"
            android:configChanges="screenSize"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".android.activities.singleplayer.PreGameCustomizationActivity"
            android:configChanges="screenSize"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".game.campaign.CampaignActivity"
            android:configChanges="screenSize"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".android.activities.settings.SettingsActivity"
            android:configChanges="screenSize"
            android:label="@string/settings"
            android:screenOrientation="landscape"/>

        <!-- missions -->
        <activity
            android:name=".game.campaign.missions.FirstMissionActivity"
            android:configChanges="screenSize"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".game.campaign.missions.SecondMissionActivity"
            android:configChanges="screenSize"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".game.campaign.missions.ThirdMissionActivity"
            android:configChanges="screenSize"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".game.campaign.missions.NinthMissionActivity"
            android:configChanges="screenSize"
            android:screenOrientation="landscape"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0ed30a5fecc78c7e054492956f6f54f67339fd35"/>
    </application>
</manifest>
