<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yaroslavlancelot.eafall"
    android:versionCode="3"
    android:versionName="0.1.2">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".EaFallApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.NoTitleBar.Fullscreen.NoBackground"
        android:allowBackup="false">
        <activity
            android:name="com.yaroslavlancelot.eafall.android.activities.StartupActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".game.tutorial.TutorialActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".game.sandbox.activity.SandboxActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".game.client.thick.single.SinglePlayerGameActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".game.client.thin.ThinClientGameActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".android.activities.singleplayer.PreGameCustomizationActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".game.client.thick.server.ServerGameActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".android.activities.multiplayer.GameServersListActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".android.activities.multiplayer.ServerGameCreationActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".android.activities.multiplayer.ClientWaitForGameActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".game.campaign.CampaignActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".android.activities.settings.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="landscape"/>
    </application>
</manifest>
