# Custom folders
wiki/**
wiki

# System:
Thumbs.db
.DS_Store
*.swp
*~
Desktop.ini

# Version Control Systems:
.svn
CVS
.hg
.bzr

#gradle
.gradle
target/**
bin/**
obj/**
doc/**
gen/**
gdb.setup
gdbserver
proguard/**

#IDE:
*.settings
*.classpath
*.project
*.idea
build
*.iml
project.properties
local.properties

# Crashlytics
res/values/com_crashlytics_export_strings.xml
